 .Pie {

    position: relative;
    bottom: 1000px;
    left: 80px;
    width: 500px;
    height: 500px;
    margin: 0 auto;

}  

.chart-title{

    position: relative;
    bottom: 600px;
    left: 150px;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    
}

.line{

    position: relative;
    bottom: 1000px;
    left: 80px;
    margin: 0 auto;
    

}

